<p>Willkommen <%= @email %>!</p>

<p>Du kannst deine eMail Adresse mit dem unteren Link bestätigen:</p>

<p><%= link_to 'Konto bestätigen', confirmation_url(@resource, :confirmation_token => @token) %></p>
