<p>Hallo <%= @resource.email %>!</p>

<p>Jemand hat diesen Link zum Ändern deines Passwortes angefordert. Du kannst das Passwort mit dem folgenden Link ändern.</p>

<p><%= link_to 'Passwort ändern', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Wenn du diese Mail nicht angefordert hast, ignoriere bitte diese Mail.</p>
<p>Dein Passwort wird nicht verändert, solange du nicht den Link anklickst und ein neues Passwort eingibst.</p>
